<h2>Mis datos</h2>
<p>Nombre: {{user.name}}</p>
<p>Correo electronico: {{user.email}}</p>
<p>Edad: {{user.age}}</p>
<p>Rol: {{user.role}}</p>
{{#if user.age}}
<a href="/carts/{{user.cart._id}}"><button>Carrito</button></a>
<a href="/tickets"><button>Mis Tickets</button></a>
<a href="/chat"><button>Chat</button></a>
{{else}}
<a href="/users"><button>Panel de usuarios</button></a>
{{/if}}
<a href="/api/sessions/logout"><button>Cerrar sesión</button></a>
<h1>Productos</h1>
<div>
    {{#each products}}
    <div>
        <h3>{{this.title}}</h3>
        <p>Categoría: {{this.category}}</p>
        <p>{{this.description}}</p>
        <p>$ {{this.price}}</p>
        <p>{{this.stock}} disponible(s)</p>
        <p>Vendido por {{this.owner}}</p>
        {{#each this.thumbnail}}
        <img src="{{this}}" alt="{{../this.title}}">
        {{/each}}
        <br>
        <button class="addToCart" data-url="/api/carts/{{../user.cart._id}}/product/{{this._id}}">Agregar al Carrito</button>
    </div>
    {{/each}}
    {{#if hasPrevPage}}
    <a href="/products?page={{prevPage}}&limit={{limit}}"><button>Anterior</button></a>
    {{/if}}

    {{#if hasNextPage}}
    <a href="/products?page={{nextPage}}&limit={{limit}}"><button>Siguiente</button></a>
    {{/if}}
</div>

<script src="/static/js/products.js"></script>