<h1>Productos</h1>
<div id="products">
    {{#each products}}
    <div id="{{this._id}}">
        <h3>{{this.title}}</h3>
        <p>Categoría: {{this.category}}</p>
        <p>{{this.description}}</p>
        <p>$ {{this.price}}</p>
        <p>{{this.stock}} disponible(s)</p>
        <p>Vendido por {{this.owner}}</p>
        <br>
    </div>
    {{/each}}
    {{#if hasPrevPage}}
    <a href="/realtimeproducts?page={{prevPage}}&limit={{limit}}"><button>Anterior</button></a>
    {{/if}}

    {{#if hasNextPage}}
    <a href="/realtimeproducts?page={{nextPage}}&limit={{limit}}"><button>Siguiente</button></a>
    {{/if}}
</div>

<script src="/socket.io/socket.io.js"></script>
<script src="/static/js/realTimeProducts.js"></script>